.coaster {
  *display: none;
  border: 1px solid gray;
  margin: 10px;
  text-align: center;
  background-color: SlateGray;
}

img {
  width: 200px;
  height: auto;
}

ul {
  list-style-type: none;
}
